body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html{
  scroll-behavior: smooth;
  text-decoration: none;
}

/* home starting */

* {
  text-decoration: none;
  color: aliceblue;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

.home{
  position: relative;
}

.home img{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  text-align: center;
}

.home .ho{
  color: #ff5e14;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.66);
  align-content: center;
}

.home .ho p{
  font-size: 70px;
  margin-top: -100px;
}

.home .ho h1{
  font-size: 40px;
  margin-top: -10px;
}

ul {
  float: right;
}

ul li {
  list-style: none;
  display: inline-flex;
  padding-left: 35px;
  justify-content: space-around;
}

ul li a {
  text-decoration: none;
  font-size: 20px;
  color: aliceblue;
  margin-bottom: 10px;
  position: relative;
}

.ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 0;
  background: #ff5e14;
  transition: 0.3s;
}

.ul li a:hover::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 100%;
  background: #ff5e14;
}

.ul li .active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 100%; /* Width of the underline for active link */
  background: #ff5e14; /* Color of the underline for active link */
}


.ul li a:hover {
  color: #ff5e14;
  text-decoration: none;
}

.active {
  color: #ff5e14;
  font-weight: 700;
}

.nav {
  background-color: rgba(0, 0, 0, 0.855);
  padding: 15px;
  padding-bottom: 0;
}

.logo {
  color: aliceblue;
  font-size: 25px;
}

.logo p span{
  color: #ff5e14;
}


/* home ending */

/* about us starting */

.container1 {
  display: flex;
  flex-direction: column;
/*   border: solid red; */
  margin: 0 auto;
  padding: 1.5rem 1rem;
  align-items: center;
  max-width: 1000px;
    color: white;
  font-family: 'Montserrat', sans-serif;
}

.container1 h1 {
  margin: 5% 0;
  font-size: 5rem;
  color: black;
  position: relative;
  font-weight: 400;
}

.container1 h1::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 3px;
    width: 180px;
    text-align: center;
    background: #ff5e14;
    transition: ease 0.3s;
}

.container1 h1:hover:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 3px;
    width: 230px;
    text-align: center;
    background: #ff5e14; 
}

.container1 button {
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1em;
  width: 100%;
  margin: 0 auto;
}

.gitem {
  position: relative;
  display: flex;
  height: 350px;
  overflow: hidden;
  transition: opacity .5s ease-in-out, scale .5s ease-in-out;
}

.gitem img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  bottom: 0;
  transition: scale ease .5s;
}

.pos-low {
  object-position: 0 65%;
}

.pos-lower {
  object-position: 0 75%;
}

.grad-left {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(110deg, #333E, #333D 30%, #333C 35%, #3337 45%, transparent 55%);
}

.grad-right {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(290deg, #333E, #333D 30%, #333C 35%, #3337 45%, transparent 55%);
}

.gitem p {
  z-index: 10;
  width: 50%;
  margin: 0;
  padding: 1rem;
  font-size: 16px;
}

.grad-right + p {
  position: absolute;
  text-align: right;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 450px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

.gitem:hover {
  scale: 1.05 1.07;
}

.gitem:hover img {
  scale: 1.08;
}

.grid:has(.gitem:hover) .gitem:not(:hover) {
  opacity: .85;
  scale: 0.95;
}

/* about us ending */

/* Service Starting */

.divisions {
  position: relative;
}
/*DIVISION_1*/
.division_1 {
  background-color: rgba(0, 0, 0, 0.905);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  margin: 40px 0 0 0;
}

.division_1 h1{
  font-size: 5rem;
  padding-top: 20px;
  position: relative;
}

.division_1 h1::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 3px;
  width: 165px;
  background: #ff5e14;
  transition: 0.3s;
}

.division_1 h1:hover:before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 3px;
  width: 215px;
  background: #ff5e14;
}

.division_1 figure {
  width: 100%;
  position: relative;
  margin: auto;
}

.division_1 figure img {
  width: 100%;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.division_1 figure:before {
  content: "";
  width: 90%;
  height: 90%;
  position: absolute;
  left: -20px;
  top: -20px;
  background-color: #ff5e14dc;
  border-radius: 10px;
}

.division_1 article p {
  color: rgba(255, 255, 255, 0.6);
}

.division_1 aside {
  align-items: center;
  margin-top: 3rem;
}

.division_1 aside span {
  padding-right: 50px;
  color: #fff;
}

.division_1 aside span:not(:first-child) {
  padding-left: 50px;
}

.division_1 aside span:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.title{
  padding-bottom: 20px;
}

@media (min-width: 1439px) and (max-width: 2561px) {

}

@media (min-width: 1440px){
  .article h2{
    font-size: 30px;
  }

  .article{
    font-size: 20px;
  }

  .article .fixed_flex{
    font-size: 20px;
  }

  .article .fixed_flex h4{
    font-size: 40px;
  }
}

@media (max-width: 920px) {
  .division_1 figure img {
    width: 35%;
  }

  .division_1 figure:before {
    width: 30%;
    height: 95%;
  }

  .division_1 aside {
    margin-top: 2rem;
  }
}

@media (max-width: 520px) {
  .division_1 figure img {
    width: 100%;
  }

  .division_1 figure:before {
    width: 90%;
    height: 90%;
    top: -10px;
    left: -10px;
  }

  .division_1 aside span {
    padding-right: 20px;
  }

  .division_1 aside span:not(:first-child) {
    padding-left: 20px;
  }
}
.flex, .fixed_flex {
    display: flex;
    font-size: 15px;
}
.padding_2x {
    padding: 4rem;
}
.flex_content {
    width: 100%;
    position: relative;
}

/* Service Ending */



/* Contact Section Starting */

.section-header h2 {
  color: #000;
  font-weight: 400;
  font-size: 5rem;
  margin: 5% 0;
  position: relative;
}

.section-header h2::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 3px;
  width: 200px;
  text-align: center;
  background: #ff5e14;
  transition: 0.3s;
}

.section-header h2:hover:before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 3px;
  width: 290px;
  background: #ff5e14;
}

.i{
font-size:25px;
padding-top: 3px;
color: #ff5e14;
}

.contact1{
  margin: 10px 0 70px 0;
}

.contact1 p{
  color: #000;
  font-size: 15px;
}


.section1 {
  position: relative;
  z-index: 3;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container1 {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 1440px){
  .container1 p{
    font-size: 18px;
  }

  .contact-info-item .contact-info-content p{
    font-size: 16px;
  }
}

.section-header {
  margin-bottom: 50px;
}


.row1  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  width: 50%;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: #ff5e14;
  font-size: 25px;
  margin-bottom: 5px;
}

.contact-info-content p {
  font-size: 14px;
}

.contact-form {
  padding: 40px;
  width: 45%;
  border-radius: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #151414;
}

.input-box input{
  background-color: #151414;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: #ffffff;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #ffffff;
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #ffffff;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span{
  color: #ff5e14;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"]
{
  width: 100%;
  background: #ff5e14;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ff5e14;
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover
{
  background: #0000008f;
  color: #ff5e14;
}



@media (max-width: 991px) {
  .section1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .row1 {
    flex-direction: column;
  }
  
  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }
  
  .contact-form {
    width: 100%;
  }
}

/* Contact Section Ending */

/* footer section start */

ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: #151414;
position: relative;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #ff5e14;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 10px;
}
.footer-logo p  {
  font-size: 40px;
  color: #ff5e14;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background: #DD4B39;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #ff5e14;
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #ff5e14;
}
.footer-widget ul li a {
color: #878787;
font-size: 17px;
text-transform: capitalize;
text-decoration: none;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #202020;
padding: 10px;
padding-bottom: 4px;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: #ff5e14;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #ff5e14;
text-decoration: none;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}

/* footer section end */